<div class="jumbotron">	
	<h2><strong>Why am I learning Rails?</strong></h2>
	<p class="lead">I am learning Rails to diversify my design skills.  This will help me land a job at a startup or web dev company.  My goal is to develop the skills necessary to become a CTO.</p>

	<h2><strong>Who Am I?</strong></h2>
	<p class="lead">My name is Kevin Alexander Watters.  I was born and raised in Houston, Texas.  After graduating high school, I went on to study architecture at Rensselaer Polytechnic Institute in Troy, New York.  After graduating with an architecture degree in May 2010, unable to find employment due to the recession, I founded a nonprofit architectural desig firm called Archifarm.</p>

	<p class="lead">Archifarm provides affordable design services to nonprofits and underserved communities while offering architecture students and graduates an Enhanced Intern Experience (EIE).</p>
</div>
